<% include partials/header.ejs %>
        <main>
            <h2> According to the PCMag, the top ranking antivirus software in 2019 are: </h2>

            <table>
                <tr>
                    <td></td>
                    <td> On-Demand <br /> Malware Scan </td>
                    <td> On Access <br /> Malware Scan </td>
                    <td> Website <br /> Rating </td>
                    <td> Malicious URL <br> Blocking </td>
                    <td> Phishing <br /> Protection </td>
                    <td> Behavior-Based <br /> Detection </td>
                    <td> Vulunability <br /> Scan </td>
                </tr>

                <tr class="tb-row">
                    <td> <img src="img/mcafee.png" alt="mcafee image" /> </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                </tr>
                <tr class="tb-row">
                    <td> <img src="img/norton.jpg" alt="norton image" /> </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> NO </td>
                </tr>
                <tr>
                    <td> <img src="img/webroot.jpg" alt="webroot image" /> </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> NO </td>
                </tr>
                <tr>
                    <td><img src="img/bitdefender.jpg" alt="bitdefender image" /> </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                </tr>
                <tr>
                    <td><img src="img/kaspersky.png" alt="kaspersky image" /> </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                    <td> YES </td>
                </tr>
            </table>
        </main>
<% include partials/footer.ejs %>
    </body>
</html>
