<% include partials/header.ejs %>
        <main>
            <div id="malwareImg">
                <div>
                    <img src="/img/worm.jpg" alt="worm image">
                    <img src="/img/virus.jpeg" alt="virus image">
                    <img src="/img/trojan.jpg" alt="trojan image">
                </div>
            </div>
            <div class="flex-container">
                <div> Worm <br /> <br />
                    After got inside the system, worm becomes active
                    and makes its way to do the specific task that it's programmed to.
                    Often time, worm is used by the hackers to leave the back door open,
                    so that they can steal the users' data.
                </div>
                <div> Virus <br /><br />
                    Through download or open attached file in emails, virus becomes dormant.
                    When the users open the file, then the virus is activate and start the spreading.
                </div>
                <div> Trojan <br /><br />
                    By pretending to be a legitimate software, is how Trojan deliver the virus into the system.
                    Trojan could be the files that the user download from the internet or email attachements. <br />
                </div>
            </div>
        </main>
<% include partials/footer.ejs %>
    </body>
</html>
