<% include partials/header.ejs %>
        <main>
            <h2> Some Tips on How to Protect Your Computer System From Malware</h2>
            <div class="flex-pro">
                <div>
                    <img src="/img/locked.jpg" alt="locked image" />
                </div>
                <div>
                    <ul>
                        <li> Keep your software up to date.</li>
                        <li> Don't click on links within email from unrecognize sender.</li>
                        <li> Use antivirus software (free antivirus software are also available).</li>
                        <li> Back up your computer regularly.</li>
                        <li> Use strong password. </li>
                        <li> Enable firewall on your system. </li>
                        <li> Minimize download. </li>
                        <li> Use a pop-up blocker. </li>
                    </ul>
                </div>
            </div>
        </main>
<% include partials/footer.ejs %>
    </body>
</html>
