<!DOCTYPE html>
<html>
    <head>
        <title>Cyber Malware</title>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1>Cyber Malware</h1>
        </header>
        <nav>
            <a href="home.html">Home</a>
            <a href="topFam.html">Top Famous Malware</a>
            <a href="antiVirus.html">Top 5 Anti Virus Software</a>
            <a href="protect.html">Stay Protected</a>
            <hr>
        </nav>
